In [1]:
import pandas as pd
#讀csv檔
data = pd.read_csv('heart.csv')
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3.0,145,233.0,1,0.0,150,0.0,2.3,0.0,0,1,1
1,37,1,2.0,130,250.0,0,1.0,187,0.0,3.5,0.0,0,2,1
2,41,0,1.0,130,204.0,0,0.0,172,0.0,1.4,2.0,0,2,1
3,56,1,1.0,120,236.0,0,1.0,178,0.0,0.8,2.0,0,2,1
4,57,0,0.0,120,354.0,0,1.0,163,1.0,0.6,2.0,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0.0,140,241.0,0,1.0,123,1.0,0.2,1.0,0,3,0
299,45,1,3.0,110,264.0,0,1.0,132,0.0,1.2,NaN,0,3,0
300,68,1,0.0,144,193.0,1,1.0,141,0.0,3.4,1.0,2,3,0
301,57,1,0.0,130,131.0,0,1.0,115,1.0,1.2,1.0,1,3,0
302,57,0,1.0,130,236.0,0,0.0,174,0.0,0.0,1.0,1,2,0

In [2]:
data.isnull().any()

age         False
sex         False
cp           True
trestbps    False
chol         True
fbs         False
restecg      True
thalach     False
exang        True
oldpeak      True
slope        True
ca          False
thal        False
target      False
dtype: bool

In [3]:
#檢查是否有空值
data.isnull().values.any()

True

In [4]:
#看每個attribute中有幾筆空值
data.isna().sum()

age         0
sex         0
cp          1
trestbps    0
chol        2
fbs         0
restecg     3
thalach     0
exang       1
oldpeak     2
slope       1
ca          0
thal        0
target      0
dtype: int64

In [5]:
#將空值刪除
new_data = data.dropna()

In [6]:
#切分input和output
#x作為input
#y作為output
#特徵欄位
x=new_data.loc[:,['age','sex','cp','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal']]
#目標欄位
y=new_data.loc[:,['target']]
Feature = x;
Label = y;

In [7]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
feature_scaler = scaler.fit_transform(Feature)

In [8]:
#切分資料集與測試集，test_size=0.33，random_state=1 
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(feature_scaler, Label, test_size = 0.33, random_state = 1)

In [9]:
#使用sklearn.svm裡的SVC進行分析，kernel 設為'linear'，印出模型最終的準確度
from sklearn.svm import SVC
classifier = SVC(kernel='linear')
classifier.fit(X_test,Y_test.values.ravel())
print(classifier.score(X_test,Y_test.values.ravel()))

0.8762886597938144